@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "IBM Plex Sans", sans-serif;
  --font-text: "Inter", sans-serif;
  --font-legible: "Atkinson Hyperlegible Next", sans-serif;
  --color-off-white: hsl(152, 20%, 92%);
  /*  --color-off-black: hsl(0, 0%, 8%); */
  --color-off-black: hsl(152, 20%, 8%);
  --color-green-1: #EBFFE2;
  --color-green-2: #C0FFA6;
  --color-green-3: #4BF678;
  --color-green-4: #00C777;
  --color-green-5: #007F60;
  --color-green-6: #003A2C;
  --color-green-7: #04211A;
  --color-gray-1: #E3E3E3;
  --color-gray-2: #AEAEAE;
  --color-gray-3: #5F5F5F;
  --color-gray-4: #2E2E2E;
}

@view-transition {
  navigation: auto;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-legible);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: balance;
  line-height: 1.6;

  background-color: var(--color-off-white);
  color: black;

  @variant dark {
    background-color: var(--color-off-black);
    color: white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: var(--font-legible);
  letter-spacing: -0.022em;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  scroll-margin-top: 2em;
  line-height: 1.15;
  margin-bottom: 0.5rem;

  &:target {
    animation: flash-color ease-out 2s;

    @variant dark {
      animation: flash-color-dark ease-out 2s;
    }
  }
}

@keyframes flash-color {
  0% {
    color: var(--color-green-5);
  }

  to {
    color: black;
  }
}

@keyframes flash-color-dark {
  0% {
    color: var(--color-green-3);
  }

  to {
    color: white;
  }
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

::selection {
  background-color: var(--color-green-5);
  color: white;

  @variant dark {
    background-color: var(--color-green-3);
    color: black;
  }
}

.paragraph {
  color: var(--color-green-7);
  font-size: 1rem;
  text-wrap: balanced;
  margin-bottom: 1rem;

  @variant dark {
    color: var(--color-green-1);
  }
}

.link {
  @apply transition-all;

  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.2rem;

  &:hover {
    color: black;
    text-decoration-color: var(--color-green-5);
    text-decoration-thickness: 0.15rem;

    @variant dark {
      color: white;
      text-decoration-color: var(--color-green-3);
    }
  }
}

.button {
  @apply transition-all;

  padding: 0.1rem 0.6rem;
  font-size: 1.25rem;
  background-color: black;
  color: white;
  font-weight: 500;

  @variant dark {
    background-color: white;
    color: black
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);

    background-color: var(--color-green-4);
    color: white;

    @variant dark {
      background-color: var(--color-green-6);
      color: white;
    }
  }
}