---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="404">
  <p
    class="text-2xl text-red-700 dark:text-red-400 text-balance tracking-tight mb-8 font-normal"
  >
    Page Not Found
  </p>
  <p class="dark:text-white/75 text-black/75">
    The page you're trying to access does not exist, please check if you made a
    typo or go to the home page.
  </p>
</BaseLayout>
