---
import BaseLayout from "../layouts/BaseLayout.astro";
import Subtitle from "../components/Subtitle.astro";
---

<BaseLayout pageTitle="404">
  <Subtitle
    class="text-red-700 dark:text-red-400"
    text="Error: Page not found"
  />
  <p class="paragraph">
    The page you're trying to access does not exist, please check if you made a
    typo or go to the home page.
  </p>
</BaseLayout>
