---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Michael Mandic">
  <p
    class="text-2xl text-green-5 dark:text-green-3 font-display tracking-tight mb-8 font-normal text-balance"
  >
    Software engineer based in Belgrade, citizen of Serbia and the EU
  </p>
  <p class="dark:text-white/75 text-black/75 text-balance mb-4">
    Hi, I’m Michael Mandic, a software engineering student @ University of
    Belgrade, School of Electrical Engineering.
  </p>
  <p class="dark:text-white/75 text-black/75 text-balance mb-4">
    I'm passionate about computer science and full-stack development and I’m
    eager to contribute to real-world projects and gain industry experience.
  </p>
</BaseLayout>
