---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import HeadingLink from "../components/HeadingLink.astro";
import Subtitle from "../components/Subtitle.astro";
---

<BaseLayout pageTitle="Michael Mandic">
  <Subtitle
    class="text-green-5 dark:text-green-3"
    text="Software engineer based in Belgrade, citizen of Serbia and the EU"
  />
  <div class="flex flex-wrap gap-6 mb-6">
    <Link
      href="https://www.linkedin.com/in/michael-mandic/"
      text="LinkedIn"
      target="_blank"
    />
    <Link
      href="https://github.com/michaelmandic"
      text="GitHub"
      target="_blank"
    />
  </div>
  <p class="paragraph">
    Hi, I'm Michael Mandic, a software engineering student @ University of
    Belgrade, School of Electrical Engineering. I'm passionate about computer
    science and full-stack development and eager to contribute to real-world
    projects and gain industry experience.
  </p>
  <h2 id="skills-and-tech-stack" class="group">
    <HeadingLink idName="skills-and-tech-stack" />Skills & Tech Stack
  </h2>
  <p class="paragraph">Under construction.</p>
  <h2 id="get-in-touch" class="group">
    <HeadingLink idName="get-in-touch" />Get in Touch
  </h2>
  <p class="paragraph">
    You can reach me at <a href="mailto:hi@michaelmandic.com" class="link"
      >hi@michaelmandic.com</a
    >, <a href="mailto:mihajlomandic27@gmail.com" class="link"
      >mihajlomandic27@gmail.com</a
    > or via <a
      href="https://www.linkedin.com/in/michael-mandic/"
      class="link"
      target="_blank">LinkedIn</a
    >.
  </p>
</BaseLayout>
