---
import BaseLayout from "../layouts/BaseLayout.astro";
import Subtitle from "../components/Subtitle.astro";
import Link from "../components/Link.astro";
---

<BaseLayout pageTitle="Links">
  <Subtitle class="text-green-5 dark:text-green-2" text="My socials" />
  <div class="flex flex-col gap-2 items-start">
    <Link href="mailto:mihajlomandic27@gmail.com" text="Email" />
    <Link href="https://www.linkedin.com/in/michael-mandic/" text="LinkedIn" />
    <Link href="https://github.com/michaelmandic" text="GitHub" />
    <Link href="https://mastodon.social/@michaelmandic" text="Mastodon" />
    <Link href="https://bsky.app/profile/michaelmandic.com" text="Bluesky" />
    <Link href="https://x.com/michaelmandic_" text="X (formerly Twitter)" />
  </div>
</BaseLayout>
