---
import BaseLayout from "../layouts/BaseLayout.astro";
import Subtitle from "../components/Subtitle.astro";
import Link from "../components/Link.astro";
---

<BaseLayout pageTitle="Links">
  <Subtitle class="text-green-5 dark:text-green-3" text="My socials" />
  <div class="flex flex-col gap-2 items-start">
    <Link
      href="mailto:mihajlomandic27@gmail.com"
      text="Email"
      target="_blank"
    />
    <Link
      href="https://www.linkedin.com/in/michael-mandic/"
      text="LinkedIn"
      target="_blank"
    />
    <Link
      href="https://github.com/michaelmandic"
      text="GitHub"
      target="_blank"
    />
    <Link
      href="https://mastodon.social/@michaelmandic"
      text="Mastodon"
      target="_blank"
    />
    <Link
      href="https://bsky.app/profile/michaelmandic.com"
      text="Bluesky"
      target="_blank"
    />
    <Link
      href="https://x.com/michaelmandic_"
      text="X (formerly Twitter)"
      target="_blank"
    />
  </div>
</BaseLayout>
