---
import SunIcon from "../assets/sun.svg";
import MoonIcon from "../assets/moon.svg";

const size = 20;
---

<button
  id="dark-mode-toggle"
  aria-label="Toggle dark mode"
  class="flex items-center justify-center cursor-pointer"
>
  <MoonIcon width={size} height={size} class="dark:hidden" />
  <SunIcon width={size} height={size} class="hidden dark:inline" />
</button>

<script>
  const darkModeToggle = document.getElementById("dark-mode-toggle");

  darkModeToggle?.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");

    if (document.documentElement.classList.contains("dark")) {
      localStorage.setItem("theme", "dark");
    } else {
      localStorage.setItem("theme", "light");
    }
  });
</script>
