---
import Logo from "../assets/mlogomonochrome.svg";

const currentYear = new Date().getFullYear();
---

<footer class="mt-10 mb-5 text-green-7/50 dark:text-green-1/50">
  <hr class="text-green-7/15 dark:text-green-1/15" />
  <div class="flex items-start justify-between py-3 gap-3">
    <Logo width={20} height={20} class="flex-none" />
    <small class="text-end"
      >© {currentYear} Michael Mandic. Logo and branding are proprietary. <a
        href="https://github.com/michaelmandic/personal-website/blob/main/LICENSE"
        target="_blank"
        class="link">Code licensed under MIT</a
      >.</small
    >
  </div>
</footer>
