---
import Logo from "../assets/mlogomonochrome.svg";

const currentYear = new Date().getFullYear();
---

<footer class="mt-10 text-black/25 dark:text-white/25 font-legible">
  <hr class="text-black/25 dark:text-white/25" />
  <div class="flex items-start justify-between py-3 gap-3">
    <Logo width={20} height={20} class="flex-none" />
    <small class="text-end text-sm"
      >© {currentYear} Michael Mandic. <a
        href="https://github.com/michaelmandic/personal-website/blob/main/LICENSE"
        target="_blank"
        class="link decoration-white/10">Code licensed under MIT</a
      >. Logo and branding are proprietary.</small
    >
  </div>
</footer>
