---
import DarkLogo from "../assets/mlogodark.svg";
import LightLogo from "../assets/mlogolight.svg";
---

<nav
  class="w-full flex flex-row justify-between items-center py-3 md:py-5 font-display"
>
  <div id="nav-links">
    <a id="logo" href="/">
      <DarkLogo width={42} height={42} class="dark:hidden" />
      <LightLogo width={42} height={42} class="hidden dark:inline" />
    </a>
    <ol></ol>
  </div>
  <div id="nav-icons"></div>
</nav>
