<nav
  class="w-full flex flex-row justify-between items-center py-5 font-display"
>
  <div id="nav-links">
    <a
      id="logo"
      href="/"
      class="dark:text-green-3 text-green-5 font-bold text-4xl">M</a
    >
    <ol></ol>
  </div>
  <div id="nav-icons"></div>
</nav>
