---
import DarkLogo from "../assets/mlogodark.svg";
import LightLogo from "../assets/mlogolight.svg";
import Link from "./Link.astro";
---

<nav
  id="navbar"
  class="w-full py-3 md:py-5 dark:shadow-off-black shadow-off-white shadow-2xl/100 fixed left-0 top-0 z-[9999] transition-all border-b-1 border-transparent bg-off-white dark:bg-off-black"
>
  <div class="max-w-3xl flex flex-row justify-between items-center m-auto px-4">
    <div id="nav-links" class="flex flex-row gap-6 items-center">
      <a id="logo" href="/">
        <DarkLogo width={42} height={42} class="dark:hidden" />
        <LightLogo
          width={42}
          height={42}
          class="hidden dark:inline hover:opacity-50 hover:scale-90 transition-all"
        />
      </a>
      <ol class="flex flex-row gap-6 items-center">
        <li>
          <Link text="Links" href="/links" />
        </li>
      </ol>
    </div>
    <div id="nav-icons"></div>
  </div>
</nav>

<script>
  const navbar = document.getElementById("navbar");

  window.addEventListener("scroll", () => {
    navbar?.classList.toggle("border-black/20", window.scrollY > 0);
    navbar?.classList.toggle("dark:border-white/20", window.scrollY > 0);
    navbar?.classList.toggle("border-transparent", window.scrollY === 0);
  });
</script>
