---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Michael Mandic</title>
	</head>
	<body class="">
		<div class="content-wrapper max-w-3xl mx-auto px-4">
			<NavBar />
			<main class="mt-10">
				<h1 class="mb-2 relative group" id={pageTitle}>
					<a
						href={`#${pageTitle}`}
						class="absolute md:inline hidden -left-10 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-25 hover:opacity-100 hover:text-green-5 dark:hover:text-green-3 transition-all font-light hover:font-bold hover:-left-11"
						aria-label="Link to this heading">#</a
					>
					{pageTitle}
				</h1>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
