---
import "../styles/global.css";
import "../styles/default.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Michael Mandic</title>
	</head>
	<body class="bg-off-white dark:bg-off-black">
		<slot />
	</body>
</html>
